.container {
  display: flex;
  margin: 5vh auto;
}

@media only screen and (min-width: 700px) {
  .container {
    width: 80%;
  }
}

body {
  background: #232425;
}

span {
  width: 8%;
  height: 90vh;
  margin: 8px;
  background-position: center;
  box-shadow: 0 0 10px white;
  outline: 2px solid white;
  transition: all .6s ease;
  border-radius: 80px;
}

.active {
  width: 60%;
  border-radius: 50px;
}